### uncomment the following line and add your API keys 
### model names are optional, you can use the default model name, @see chat.py

#OPENAI_API_KEY=
#OPENAI_MODEL=

#XAI_API_KEY=
#XAI_MODEL=

#GROQ_API_KEY=
#GROQ_MODEL=

#ANTHROPIC_API_KEY=
#ANTHROPIC_MODEL=

#GITHUB_TOKEN=
#GITHUB_MODEL=

#GOOGLE_API_KEY=
#GOOGLE_MODEL=

#OPENROUTER_API_KEY=
#OPENROUTER_MODEL=deepseek/deepseek-chat:free

### by default it will use ollama service 
#OLLAMA_MODEL=
#OLLAMA_HOST=

