### uncomment the following lines and add your API keys and models
### model names are optional, @see chat.py for reference

#OPENAI_API_KEY=
#OPENAI_MODEL=

#XAI_API_KEY=
#XAI_MODEL=

#GROQ_API_KEY=
#GROQ_MODEL=

#ANTHROPIC_API_KEY
#ANTHROPIC_MODEL=

#GITHUB_TOKEN=
#GITHUB_MODEL=

### by default it will use ollama service 
#OLLAMA_MODEL=
