playwright==1.48.0
PyYAML==6.0.2
langchain-anthropic==0.3.0
langchain-groq==0.2.1
langchain-openai==0.2.8
langchain-ollama==0.2.0
langchain-chroma==0.1.4
langchain-text-splitters==0.3.2
langchain-community==0.3.7
unstructured[md]==0.16.5
